#root {
    margin: 0;
    text-align: center;

}


body {
    font-size: 1.6rem;
<!-- bezieht sich auf index . css / root (x10px) --> box-sizing: border-box;
<!-- https: / / developer . mozilla . org /en-US/ docs /Web/ CSS / box-sizing --> min-width: 320px;
    width: 100vW;
    min-height: 100vh;
}


